<!DOCTYPE html>
<% load staticfiles %>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DJango Table</title>
    <link rel="stylesheet" href="% static "css/mystyle.css"%">
  </head>
  <body>
    <h1>Welcome to DJango table population</h1>
    <h2>Here are your access detail(s)</h2>
    <div class="djangotwo">
      <% if access_record %>
      <table>
        <thead>
          <th>Site Name</th>
          <th>Accessed Date</th>
        </thead>
        <% for acc in access_record %>
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        <% endfor %>
      </table>
      <% else %>
      <p>OOPS! No Access Record(s) Found</p>
      <% endif %>
    </div>
  </body>
</html>
